/*

!.gitignore
!README.md
!setup.sh

!home/
!home/*
home/.zshrc.local

!home/.gnupg/gpg.conf
!home/.gnupg/gpg-agent.conf
home/.gnupg/*

!home/bin/*

!.config/
.config/*

!.config/git/
!.config/git/*
.config/git/config.local

!.config/htop/
!.config/alacritty/
!.config/alacritty/*
.config/alacritty/local.yml

!.config/nvim/
!.config/nvim/*
.config/nvim/pack
