/*

!.gitignore
!README.md
!setup.sh

!home/
!home/*
home/.zshrc.local

!.config/
.config/*

!.config/git/
!.config/git/*
.config/git/config.local

!.config/htop/
!.config/alacritty/
!.config/alacritty/*
.config/alacritty/local.yml

!.config/nvim/
!.config/nvim/*
.config/nvim/pack
