[user]
	name = Denis Kayshev
	email = topenkoff@gmail.com
[core]
	editor = nano
	commentChar = @
[alias]
	tree = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	stashed = stash list --pretty=format:'%C(red)%h%C(reset) - %C(reset)(%C(bold blue)%gd%C(reset)) %<(70,trunc)%s %C(green)(%cr)'