/*

!.gitignore
!README.md
!setup.sh

!home

!.config/
.config/*

!.config/git/
!.config/git/*
.config/git/config.local

!.config/htop/
!.config/alacritty/

!.config/nvim/
!.config/nvim/*
.config/nvim/pack
